<div *ngIf="!loading" class="pointer shadown" #card (window:resize)="width=card.getBoundingClientRect().width">
<mat-card class="pointer">
  <img mat-card-image  [src]="article.thumbnail" alt="Photo">
  <mat-card-title class="text-oneline align-start"><h4 class="mat-h3">{{article.title}}</h4></mat-card-title>
  <mat-card-subtitle class="align-start nameSeller text-oneline">{{nameSeller}}</mat-card-subtitle>
  <mat-card-subtitle class="align-start idSeller">{{article.seller.id}}</mat-card-subtitle>
  <mat-card-title class="align-start price text-oneline">$ {{price | number: '2.'}}</mat-card-title>
</mat-card>
</div>

<div *ngIf="loading" #card (window:resize)="width=card.getBoundingClientRect().width">
  <mat-card class="pointer" class="uploader-status">
    <mat-progress-spinner  class="spinner" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
