<!-- <mat-card class="container">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title>
      <h4 class="mat-h3">{{article.nameArticle}}</h4>
    </mat-card-title>
    <mat-card-subtitle>{{article.seller}}</mat-card-subtitle>
    <mat-card-title>{{article.price}}</mat-card-title>
  </mat-card-content>
</mat-card> -->

<!-- <div class="container">
  <div style="color: aqua;">imagen</div>
  <div style="color: black;">info</div>
</div> -->

<!-- <mat-card>
  <div class="media">
    <div class="image"><img [src]="article.thumbnail" alt="Img product"></div>
    <div class="content">
      <p class="title">{{article.title}}</p>
      <p class="price">{{article.price}}</p>

    </div>
  </div>
</mat-card> -->

<div *ngIf="!loading" class="pointer shadown" #card (window:resize)="width=card.getBoundingClientRect().width">
<mat-card class="pointer">
  <img mat-card-image  [src]="article.thumbnail" alt="Photo">
  <mat-card-title class="text-oneline align-start"><h4 class="mat-h3">{{article.title}}</h4></mat-card-title>
  <mat-card-subtitle class="align-start nameSeller text-oneline">{{nameSeller}}</mat-card-subtitle>
  <mat-card-subtitle class="align-start idSeller">{{article.seller.id}}</mat-card-subtitle>
  <mat-card-title class="align-start price text-oneline">$ {{price | number: '2.'}}</mat-card-title>
</mat-card>
</div>

<div class="pointer shadown" *ngIf="loading" #card (window:resize)="width=card.getBoundingClientRect().width">
  <mat-card class="pointer">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
