/* Agregar esta margen al componente superior */
.container {
  margin-left: 5%;
  margin-right: 5%;
}

div {
  margin-top: 3%;
}


mat-paginator {
  background-color: #ebebeb;
}

.aviso {
  text-align: -webkit-center;
}

mat-card {
  text-align: start;
}

p {
  margin: 3%;
}

.welcome {
  text-align: center;
}
