<div *ngIf="!cardNotice && !flagWelcom" class="container">
  <mat-grid-list [cols]="cols" rowHeight="4:5" gutterSize='5'>
    <mat-grid-tile *ngFor="let article of pagedList">
      <app-product-card [loading]="loading" [article]='article'></app-product-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator *ngIf="!cardNotice" #paginator [length]="totalResults" [pageSize]="pageSize"
     (page)="pageEvent = OnPageChange($event)">
  </mat-paginator>
</div>

<div *ngIf="cardNotice" class="container aviso">
  <app-card-notice></app-card-notice>
</div>

<div *ngIf="flagWelcom" class="container welcome">
  <mat-card class="welcome">
    <h1>¡Bienvenido a MercadoJorge!</h1>
    <p>Los mejores precios</p>
    <p>los mejores productos</p>
  </mat-card>
</div>
