<mat-toolbar color="primary">
  <mat-toolbar-row class="title">
    <span>MercadoJorge</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="search">
    <div class="barra">
      <form [ngClass]="{'invisible':!flagInputSearch}" autocomplete="off">
        <mat-form-field appearance="standard">
          <input matInput placeholder="Buscar producto" #box (keyup.enter)="searchArti(box.value)">
        </mat-form-field>
      </form>
    </div>
    <div class="icon-search" (click)="searchArti(box.value)">
      <mat-icon matSuffix class="pointer">search</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
